{% extends "admin/base.html" %}
{% load i18n %}
{% block title %}{{ title }} | {{ site_title|default:_("Retail admin") }}{% endblock %}
{% block dark-mode-vars %}{% endblock %}
{% block responsive %}{{ block.super }}<style>{% include "retail_admin/admin_styles.html" %}</style>{% endblock %}
{% block welcome-msg %}<span class="retail-account-name">{% firstof user.get_short_name user.get_username %}</span>{% endblock %}
{% block userlinks %}
  {% if user.has_usable_password %}<a href="{% url 'admin:password_change' %}">{% translate "Change password" %}</a>{% endif %}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">{% csrf_token %}<button type="submit">{% translate "Sign out" %}</button></form>
{% endblock %}
{% block nav-global %}{% endblock %}
{% block footer %}<div class="retail-footer">{% translate "Retail administration" %}</div>{% endblock %}
